# Database login credentials
# Make a copy of this file to `.env` (git ignored) and adjust the credentials.
DB_USER=<my_username>
DB_PASSWORD=<my_password>
DB_NAME=<my_db_name>
DB_SERVER=<my_server.org>
